<div class="social-network">
  <div class="social-network__network-name {{network.type}}">{{network.name}}</div>
  <div class="social-network__buttons">

    <button (click)="changeSocialNetwork()">
      <span class="glyphicon glyphicon-cog"></span>
    </button>

    <button (click)="deleteNetwork()">
      <span class="glyphicon glyphicon-trash"></span>
    </button>

  </div>
</div>
