<div class="social-network-list">

  <div class="list-group" id="networks">

    <div class="sort-buttons list-group-item" *ngIf="socialNetworks.length > 1">
      <button (click)="sort()" class="btn btn-link">Sort</button>

      <div class = "custom-sort" *ngIf="!customSortCheck; else save">
        <button (click)="customSort()" class="btn btn-link">Custom sort</button>
      </div>
      <ng-template #save>
        <div class="custom-sort">
          <button (click)="saveCustomSort()" class="btn btn-link">Save</button>
        </div>
      </ng-template>
    </div>

    <app-social-network
      class="list-group-item"
      *ngFor='let network of socialNetworks'
      [network]="network"
      (deleteSocialNetwork)="deleteNetwork($event)">
    </app-social-network>
    <div class="add-network list-group-item">
      <button (click)="showForm()" *ngIf="!edited" class="add-button">
        Add Social Network
      </button>
      <div *ngIf="edited">
        <app-social-network-form
          (closeForm)="showForm()">
        </app-social-network-form>
      </div>
    </div>
  </div>
</div>
