<div class="login-form panel panel-default">
  <div class="panel-heading">Registration</div>
  <div class="panel-body">
      <div *ngIf="errorCheck" class="error-message">
        {{errorMessage}}
      </div>

      <div class="form-group">
        <label for="login">Login:</label>
        <input class="form-control" id="login" [(ngModel)]="login" required>
      </div>

      <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" id="name" [(ngModel)]="name" required>
      </div>

      <div class="form-group">
        <label for="pwd1">Password:</label>
        <input type="password" class="form-control" id="pwd1" [(ngModel)]="password" required>
      </div>

      <div class="form-group">
        <label for="pwd2">Repeat password:</label>
        <input type="password" class="form-control" id="pwd2" [(ngModel)]="passwordCheck" required>
      </div>

      <button class="btn btn-default" (click)="signUp()">Registration</button>
      <a class="btn btn-link" routerLink="/login">Sign In</a>
  </div>
</div>
