<!--<div class="social-network-list" *ngIf="socialNetworks.length">-->
<div class="social-network-list" >

    <div class="list-group" id="tasks">

      <div class="sort-buttons list-group-item" *ngIf="tasks.length > 1">
        <button (click)="sort()" class="btn btn-link">Sort</button>

        <div class = "custom-sort" *ngIf="!customSortCheck; else save">
          <button (click)="customSort()" class="btn btn-link">Custom sort</button>
        </div>
        <ng-template #save>
          <div class="custom-sort">
            <button (click)="saveCustomSort()" class="btn btn-link">Save</button>
          </div>
        </ng-template>
      </div>

    <app-task
      class="list-group-item"
      *ngFor='let task of tasks'
      [task]="task"
      [attr.data-id]="tasks.indexOf(task)"
      (deleteTask)="deleteTask($event)">
    </app-task>

    <div class="add-task list-group-item">
      <button (click)="showForm()" *ngIf="!edited" class="add-button">
        Add Task
      </button>
      <div *ngIf="edited">
        <app-task-form
          (closeForm)="showForm()">
        </app-task-form>
      </div>
    </div>

  </div>
</div>
<div *ngIf="!socialNetworks.length">
  Add some social networks for creating tasks!
</div>
