<div class="task">
  <div class="task__network-name {{task.socialId}}">{{task.socialId}} : </div>
  <div class="task__network-name">{{task.name}}</div>
  <div class="task__buttons buttons-edit">

    <button (click)="changeTask()">
      <span class="glyphicon glyphicon-cog"></span>
    </button>

    <button
      (click)="deleteThisTask()">
      <span class="glyphicon glyphicon-trash"></span>
    </button>

  </div>
  <div class="task__buttons buttons-move">
    <span class="glyphicon glyphicon-move"></span>
  </div>
</div>
