<div *ngIf="errorCheck" class="error-message">
  {{errorMessage}}
</div>

<div class="form-group">
  <label>Name: </label>
  <input [(ngModel)]="name" class="form-control" autofocus>
</div>

<div class="form-group">
  <label>Your Social Network: </label>
  <select [(ngModel)]="selectedSocialNetwork" class="form-control">
    <option *ngFor="let n of socialNetworks" [ngValue]="n.name">{{n.name}}</option>
  </select>
</div>

<div class="form-group">
  <label>Message: </label>
  <input [(ngModel)]="message" class="form-control" autofocus>
</div>

<div class="action-buttons">
  <button (click)="save()" class="btn btn-default">Save</button>
  <button (click)="cancel()" class="btn btn-link">Cancel</button>
</div>
