<div *ngIf="errorCheck" class="error-message">
  {{errorMessage}}
</div>

<div class="form-group">
  <label>Name: </label>
  <input [(ngModel)]="selectedName" class="form-control" autofocus>
</div>

<div class="form-group">
  <label>Social Network: </label>
  <select [(ngModel)]="selectedNetwork" class="form-control">
    <option *ngFor="let n of socialNetworksStrings" [ngValue]="n">{{n}}</option>
  </select>
</div>

<div class="action-buttons">
  <button (click)="save()" class="btn btn-default">Save</button>
  <button (click)="cancel()" class="btn btn-link">Cancel</button>
</div>
