<div class="row">
  <div class="col-sm-4">
    <div class="network-list-wrapper">
      <app-social-network-list></app-social-network-list>
    </div>
  </div>
  <div class="col-sm-8">
    <app-tasks-list></app-tasks-list>
  </div>
</div>
