<div *ngIf="!signInCheck" class="login-form panel panel-default">
  <div class="panel-heading">Sign In</div>
  <div class="panel-body">

      <div *ngIf="errorCheck" class="error-message">
        {{errorMessage}}
      </div>

      <div class="form-group">
        <label for="login">Login*:</label>
        <input class="form-control" id="login" [(ngModel)]="login" required>
      </div>

      <div class="form-group">
        <label for="pwd1">Password*:</label>
        <input type="password" class="form-control"  id="pwd1" [(ngModel)]="password" required>
      </div>

      <button class="btn btn-default" (click)="signIn()">Sign In</button>
      <a class="btn btn-link" routerLink="/registration">Registration</a>

  </div>
</div>
