$primary-color: #738318;
$primary-font-color: #f4efd9;
$primary-color-light: #b4c539;

.social-network__network-name {
  &:before {
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    position: relative;
    top: 6px;
    margin-right: 5px;
  }

  &.Vk:before {
    background: url('icons/vk-social-logotype.png') no-repeat;
  }
  &.LinkedIn:before {
    background: url('icons/linkedin-button.png') no-repeat;
  }
  &.Twitter:before {
    background: url('icons/twitter-logo-button.png') no-repeat;
  }
}



.task__network-name,
.social-network__network-name {
  display: inline-block;
}

.task__buttons,
.social-network__buttons {
  float: right;
  display: inline-block;
}
.task__buttons button,
.social-network__buttons button,
.add-task .add-button,
.add-network .add-button{
  padding: 3px;
  margin: 0;
  background: none;
  border: none;
}

.add-task .action-buttons,
.add-network .action-buttons{
  margin-top: 5px;
}

.add-task input,
.add-task select,
.add-network input,
.add-network select {
  display: inline-block;
  box-sizing: border-box;
}
.add-task .add-button,
.add-network .add-button {
  width: 100%;
  display: block;
  text-align: center;
}

.login-form {
  width: 400px;
  margin: 50px auto 0;

  &.panel-default {
    border-color: $primary-color;
  }

  .panel-heading {
    color: $primary-font-color;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.error-message {
  padding: 5px 0 10px;
  color: #FF0016;
}

.buttons-move {
  position: absolute;
  right: 18px;
  top: 13px;
  cursor: pointer;
}

.buttons-move {
  display: none;
}

.custom-sort {
  display: inline-block;
}

.sort-buttons {
  display: flex;
  justify-content: flex-end;

  .btn {
    padding: 0;
  }
}

.custom-sort {
  width: 90px;
  text-align: right;
}

.btn {
  &-default {
    color: #65747b;
    background-color: #fff;
    border-color: $primary-color;

    &:focus {
      outline: none;
    }

    &:focus,
    &:hover {
      color: #65747b;
      background-color: $primary-font-color;
      border-color: $primary-color;
    }
  }

  &-link {
    color: #65747b;

    &:focus,
    &:hover {
      color: #65747b;
    }
  }
}

.form-control:focus {
  border-color: $primary-color-light;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.navbar-default {
  color: $primary-font-color;
  background-color: $primary-color;
  border-color: $primary-color;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .navbar-brand {
    color: $primary-font-color;
  }

  .navbar-nav > li > a {
    color: $primary-font-color;

    &:hover {
      color: #ccccc4;
    }
  }

  .navbar-nav > .open > a,
  .navbar-nav > .open > a:focus {
    background-color: $primary-color-light;
  }
}

