<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Site Name</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" *ngIf="signInCheck">
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Hello, {{username}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/profile">Profile</a></li>
            <li><a (click)="signOut()">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
